.poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

* {
    padding: 0;
    margin: 0px;
    box-sizing: border-box;
    color: #ffffff;
    font-family: 'poppins';
}

body {
    background: url(../img/background.png); 
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    overflow-x: hidden;
}
body h1 {
    top: 100px;
}

.navbar {
    box-sizing: border-box;
    justify-content: center;
    width: 100%;
    z-index: 1000;
}

nav {
    background: linear-gradient(90deg, #000000c1, #310000c1);
    border-radius: 0 0 30px 30px;
}

.logos {
    cursor: pointer;
}

.logoF {
    height: 50px;
    float: left;
    margin-left: 80px;
    margin-top: 1%;
}

.logoL {
    font-size: 30px;
    line-height: 80px;
    font-weight: bold;
}

nav ul {
    list-style: none;
    float: right;
    margin-right: 50px;
}

nav a, label {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 30px;
}

nav li, a, ul {
    font-size: 16px;
    text-transform: uppercase;
}

nav a:hover {
    color: rgb(255, 0, 0);
    transition: .5s all;
}
.titulo-restaurante {
    display: flex;
    justify-content: center;
    
}
.parametros {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; 
    flex-direction: column;
}
.base {
    display: flex;
    justify-content: center;
    align-items: center;
}
.base .card {
    top: 220px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    width: 350px;
    height: 300px;
    border-radius:20px;
    box-shadow: 0 35px 80px rgba(0,0,0,0,.15);
    background: #ffffff;
    margin: 30px;
    transition: .8s;
}
.base .card:hover {
    height: 400px;
}
.base .card .caixaImg {
    position: absolute;
    top: 20px;
    width: 300px;
    height: 220px;
    border-radius: 12px;
    overflow: hidden;
    transition: .8s;
}
.base .card:hover .caixaImg {
    top: -100px;
    scale: .75;
    box-shadow: 0 15px 45px rgba(0,0,0,0,.2);
}
.base .card .caixaImg img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.base .card .conteudo {
    position: absolute;
    top: 250px;
    width: 100%;
    height: 35px;
    padding: 0 35px;
    overflow: hidden;
    text-align: center;
    transition: .8s;
}
.base .card .conteudo h2 {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 3rem;
    color: rgb(153, 39, 39);
}
.base .card .conteudo p {
    color: black
}
.base .card:hover .conteudo {
    top: 150px;
    height: 250px;
}
.card-segundo {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.card-primeiro {
    display: flex;
}
