.poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

* {
    padding: 0;
    margin: 0;
    color: #ffffff;
    font-family: 'poppins';
    box-sizing: border-box;
}

body {
    background: url(../img/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    overflow-x: hidden;
}

body h1 {
    top: 100px;
}

.navbar {
    position: absolute;
    top: auto;
    font-family: 'poppins';
    width: 100%;
    height: auto;
    z-index: 1000;
}

nav {
    background: linear-gradient(90deg, #000000c1, #310000c1);
    border-radius: 0 0 30px 30px;
}

.logos {
    cursor: pointer;
}

.logoF {
    height: 50px;
    float: left;
    margin-left: 80px;
    margin-top: 1%;
}

.logoL {
    font-size: 30px;
    line-height: 80px;
    font-weight: bold;
}

nav ul {
    list-style: none;
    float: right;
    margin-right: 50px;
}

nav a,
label {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 30px;
}

nav li, a, ul {
    font-size: 16px;
    text-transform: uppercase;
}

nav a:hover {
    color: rgb(255, 0, 0);
    transition: .5s all;
}

#atual {
    color:  rgb(255, 0, 0);
}


body {
    background: url(../img/background.png); 
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    overflow-x: hidden;
    width: 99vw;
    min-width: 100px;
    text-align: center;
    font-family: 'Poppins';
}
.poppins-light {
    font-family: "Poppins";
    font-weight: 300;
    font-style: normal;
  }

#inicial {
    background: url(../img/mesa.jpg) no-repeat bottom;
    background-size: cover;
    height: 100vh;
    color: #FFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

#inicial img {
    opacity: 1.0;
}

#inicial h2 {
    font-size: 52px;
    margin: 2%;
}


#reservar {
    background: #840b13;
    color: white;
    width: 90%;
    height: 110px;
    border-radius:10px;
    margin: -7.5vh auto 0vh;
    display: flex;
    /* justify-content: space-evenly; */
    align-items: center;
    border: none;
    font-size: 20px;
}

#reservar div {
    width: 27%;
}

#reservar input[type="time"] {
    width: 26%;
    border-radius:8px;
    border: none;
    font-size: 20px;
    text-align: center;
    margin-bottom: 4px;
}

#reservar input[type="date"] {
    width: 69%;
    border-radius:8px; 
    font-size: 20px;
    text-align: center;
    border: none;
}

#label, select {
    color: black;
}
.form-control {
    padding: 20px;
    margin-bottom: 4px;
}

#reservar input[type="submit"] {
    background: transparent;
    outline: none;
    border: none;
    border-bottom: 1px solid white;
    font-size: 16px;
    color: white;
    text-align: left;
}

#reservar h1 {
    font-size: 23px;
    text-transform: uppercase;  
}


#mesa {
    height: 300px;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    flex-direction: column;
}

#mesa .mesa-imagem {
    display: flex;
    height: 190px;
}

.mesas {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 1%;
    width: 290px;
}

.mesas h6, h4, h1 {
    font-weight: 400;
}

.mesas h4 {
    font-size: 20px;
}

.mesas h5 {
    font-size: 13px;
}

.mesas img {
    border-radius: 10px;
    transition: 0.4s;
}   

.mesas img:hover {
    opacity: 0.5;
    transition: 0.2s;
}

label {
    color: #FFF;
}

input {
    color: rgb(15, 7, 7)
   
}

footer {
    background: #000;
    padding: 9dvh;
    z-index: 1;
}

footer h1 {
    font-size: 4dvh;
    font-weight: bold;
    text-transform: uppercase;
}

.foot-logos {
    line-height: 7.2dvh;
    display: flex;
    justify-content: center;
    padding-bottom: 9dvh;
    padding-top: 7dvh;
}

footer .logo {
    height: 7dvh;
    float: left;
}
.media-icons {
    display: flex;
    justify-content: center;
}